.card {
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    margin-bottom: 20px;
    overflow: hidden; /* Ensures the image doesn't overflow */
    width: 30%;
    height: 50%;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  .card-image {
    width: 100%;
    height: auto;
    display: block;
  }
  
  .card-content {
    padding: 20px;
  }
  
  .card-title {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  .card-content p {
    font-size: 1rem;
    color: #555;
  }